body {
  margin: 0;
  font-family:"Amaranth";
  background-color: #E6E8FA;
}


code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


.categories-food {
  list-style: none;
  cursor: pointer;
  font-size: 40px;

}

.categories-food:hover {
  background-color:#E6E8FA;
}




