body {
  margin: 0;
  font-family:"Amaranth";
  background-color: #E6E8FA;
}


code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.categories-food {
  list-style: none;
  display: flex;
  align-items: center;
  margin-top: 50px;
  cursor: pointer;
  
}

.categories-food:hover {
  background-color: #E6E8FA;
 
}

.categories-food li {
  font-size: 48px;
  
}
